@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f4f4f4;
}

.noResults {
  text-align: center;
  margin-top: 13rem;
}

@media (max-width: 768px) {
  .noResults {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}
